/**
 * RichLab's Palette
 * Ref: https://github.com/rich-lab/art/tree/master/vi#palette
 */
$colorLight = rgba(252, 252, 252, 1);
$colorGray = rgba(238, 238, 238, 1);
$colorInactive = rgba(119, 119, 119, 1);
$colorFont = rgba(39, 39, 39, 1);
$colorDark = rgba(17, 17, 17, 1);

/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
$accentColor = #3B48CE
$textColor = $colorFont
$borderColor = #eaecef
$codeBgColor = #282c34
